.card-title {
  height: 80px;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
body {
  background-color: rgb(247, 247, 247);
}
.card {
  border-radius: 15px;
}
.card .card-img-top {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.carousel {
  border-radius: 15px;
}
/* .weather-card-body {
  background-image: url(/public/images/weather.jpg);
} */
